@model CaseMgmtPortal.ModelDTOs.CaseDTO

<nav class="breadcrumb-wrapper" aria-label="breadcrumbs">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">
                <span class="fas fa-home mr-1" aria-hidden="true"></span><span class="sr-only">Home</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="/ViewCases">View Submitted Cases</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <span>Case @Model.Id</span><span class="fas fa-eye ml-1" aria-hidden="true"></span>
        </li>
    </ol>
</nav>
<div class="page-title">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-lg-flex justify-content-lg-between align-items-center">
                <div class="mb-2 mb-lg-0">
                    <h2 class="page-title-text">
                        <span class="icon fas fa-home mr-1" aria-hidden="true"></span>Case @Model.Id
                    </h2>
                    @if (Model.Date != Model.UpdateDate)
                    {
                        <p class="mb-0">Updated on @Model.Date</p>
                    }
                    else
                    {
                        <p class="mb-0">Submitted on @Model.Date</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



<form asp-action="EditCase" method="post" role="form">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Date)
    @Html.HiddenFor(m => m.ChildId)
    @Html.HiddenFor(m => m.ReporterId)
    @Html.HiddenFor(m => m.Child.Id)
    @Html.HiddenFor(m => m.Reporter.Id)
    @Html.HiddenFor(m => m.UpdateDate)
    <div class="content-container p-3">
        <!-- Content here -->
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <p class="text-primary">Your Personal Information</p>
        </div>
        <div class="row">
            <div class="col-12 col-sm-3 form-group">
                <label asp-for="Reporter.FirstName" class="fw-bold text-black form-label">
                    <span class="fas fa-asterisk text-danger mr-1" aria-hidden="true"></span>First Name
                </label>
                <input asp-for="Reporter.FirstName" type="tel" class="form-control" placeholder="Value">
                <span asp-validation-for="Reporter.FirstName" class="text-danger"></span>
            </div>
            <div class="col-12 col-sm-3 form-group">
                <label class="fw-bold text-black" asp-for="Reporter.MiddleName">
                    <span aria-hidden="true"></span>Middle Name
                </label>
                <input asp-for="Reporter.MiddleName" type="tel" class="form-control" placeholder="Value">
                <span asp-validation-for="Reporter.MiddleName" class="text-danger"></span>
            </div>
            <div class="col-12 col-sm-3 form-group">
                <label class="fw-bold text-black" asp-for="Reporter.LastName">
                    <span class="fas fa-asterisk text-danger mr-1" aria-hidden="true"></span>Last Name
                </label>
                <input asp-for="Reporter.LastName" type="tel" class="form-control" placeholder="Value">
                <span asp-validation-for="Reporter.LastName" class="text-danger"></span>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-3 form-group">
                <label class="fw-bold text-black" asp-for="Reporter.Email">Email Address</label>
                <input asp-for="Reporter.Email" type="email" class="form-control" placeholder="Value">
                <span asp-validation-for="Reporter.Email" class="text-danger"></span>
            </div>
            <div class="col-12 col-sm-3 form-group">
                <label class="fw-bold text-black" asp-for="Reporter.Phone">Phone Number</label>
                <input asp-for="Reporter.Phone" type="tel" class="form-control" placeholder="Value">
                <span asp-validation-for="Reporter.Phone" class="text-danger"></span>
            </div>
            <div class="col-12 col-sm-3"></div>
            <div class="col-12 col-sm-3"></div>
        </div>
        <hr class="solid" />
        <div class="row">
            <p class="text-primary">Child Nelgect Information</p>
        </div>
        <div class="row">
            <div class="col-12 col-sm-3 form-group">
                <label class="fw-bold text-black" asp-for="Child.FirstName">
                    <span class="fas fa-asterisk text-danger mr-1" aria-hidden="true"></span>Child's First Name
                </label>
                <input asp-for="Child.FirstName" type="tel" class="form-control" placeholder="Value">
                <span asp-validation-for="Child.FirstName" class="text-danger"></span>
            </div>
            <div class="col-12 col-sm-3 form-group">
                <label class="fw-bold text-black" asp-for="Child.MiddleName">
                    <span aria-hidden="true"></span>Child's Middle Name
                </label>
                <input asp-for="Child.MiddleName" type="tel" class="form-control" placeholder="Value">
                <span asp-validation-for="Child.MiddleName" class="text-danger"></span>
            </div>
            <div class="col-12 col-sm-3 form-group">
                <label class="fw-bold text-black" asp-for="Child.LastName">
                    <span class="fas fa-asterisk text-danger mr-1" aria-hidden="true"></span>Child's Last Name
                </label>
                <input asp-for="Child.LastName" type="tel" class="form-control" placeholder="Value">
                <span asp-validation-for="Child.LastName" class="text-danger"></span>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-3 form-group">
                <label class="fw-bold text-black" asp-for="Child.StreetAddress">
                    <span class="fas fa-asterisk text-danger mr-1" aria-hidden="true"></span>Child's Street Address
                </label>
                <input asp-for="Child.StreetAddress" type="tel" class="form-control" placeholder="Value">
                <span asp-validation-for="Child.StreetAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-3 form-group">
                <label class="fw-bold text-black" asp-for="Child.City">
                    <span class="fas fa-asterisk text-danger mr-1" aria-hidden="true"></span>Child's City
                </label>
                <input asp-for="Child.City" type="tel" class="form-control" placeholder="Value">
                <span asp-validation-for="Child.City" class="text-danger"></span>
            </div>
            <div class="col-12 col-sm-3 form-group">
                <label class="fw-bold text-black" asp-for="Child.State">Child's State</label>
                <select asp-for="Child.State" class="custom-select">
                    <option selected>&mdash; Select &mdash;</option>
	                <option value="AL">Alabama</option>
	                <option value="AK">Alaska</option>
	                <option value="AZ">Arizona</option>
	                <option value="AR">Arkansas</option>
	                <option value="CA">California</option>
	                <option value="CO">Colorado</option>
	                <option value="CT">Connecticut</option>
	                <option value="DE">Delaware</option>
	                <option value="DC">District Of Columbia</option>
	                <option value="FL">Florida</option>
	                <option value="GA">Georgia</option>
	                <option value="HI">Hawaii</option>
	                <option value="ID">Idaho</option>
	                <option value="IL">Illinois</option>
	                <option value="IN">Indiana</option>
	                <option value="IA">Iowa</option>
	                <option value="KS">Kansas</option>
	                <option value="KY">Kentucky</option>
	                <option value="LA">Louisiana</option>
	                <option value="ME">Maine</option>
	                <option value="MD">Maryland</option>
	                <option value="MA">Massachusetts</option>
	                <option value="MI">Michigan</option>
	                <option value="MN">Minnesota</option>
	                <option value="MS">Mississippi</option>
	                <option value="MO">Missouri</option>
	                <option value="MT">Montana</option>
	                <option value="NE">Nebraska</option>
	                <option value="NV">Nevada</option>
	                <option value="NH">New Hampshire</option>
	                <option value="NJ">New Jersey</option>
	                <option value="NM">New Mexico</option>
	                <option value="NY">New York</option>
	                <option value="NC">North Carolina</option>
	                <option value="ND">North Dakota</option>
	                <option value="OH">Ohio</option>
	                <option value="OK">Oklahoma</option>
	                <option value="OR">Oregon</option>
	                <option value="PA">Pennsylvania</option>
	                <option value="RI">Rhode Island</option>
	                <option value="SC">South Carolina</option>
	                <option value="SD">South Dakota</option>
	                <option value="TN">Tennessee</option>
	                <option value="TX">Texas</option>
	                <option value="UT">Utah</option>
	                <option value="VT">Vermont</option>
	                <option value="VA">Virginia</option>
	                <option value="WA">Washington</option>
	                <option value="WV">West Virginia</option>
	                <option value="WI">Wisconsin</option>
	                <option value="WY">Wyoming</option>
                </select>
                <span asp-validation-for="Child.State" class="text-danger"></span>
            </div>
            <div class="col-12 col-sm-3 form-group">
                <label class="fw-bold text-black" asp-for="Child.ZipCode">
                    <span class="fas fa-asterisk text-danger mr-1" aria-hidden="true"></span>Child's ZIP Code
                </label>
                <input asp-for="Child.ZipCode" type="tel" class="form-control" placeholder="Value">
                <span asp-validation-for="Child.ZipCode" class="text-danger"></span>
            </div>
            <div class="col-12 col-sm-3"></div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="fw-bold text-black" asp-for="Child.Details" class="label">Neglect Details</label>
                <textarea asp-for="Child.Details" class="form-control" rows="5" placeholder="Value"></textarea>
                <small>This accepts any kind of alphanumeric characters.</small>
                <span asp-validation-for="Child.Details" class="text-danger"></span>
            </div>
        </div>
        <hr class="solid" />
        <div class="row">
            <p class="text-primary">Request to Close Case</p>
        </div>
        <div class="row">
            <div class="form-group col-12 col-sm-3">
                <label class="fw-bold text-black" asp-for="Notes">Reason for Case Closure</label>
                <select asp-for="Notes" class="custom-select">
                    <option value="Active" selected>&mdash; Select &mdash;</option>
                    <option value="Entered in Error">Entered in Error</option>
                    <option value="Neglect Resolved">Neglect Resolved</option>
                </select>
            </div>
            <div class="col-12 col-sm-3"></div>
            <div class="col-12 col-sm-3"></div>
        </div>
    </div>

    <div class="content-container p-3">
        <div clas="row">
            <div class="col-12 col-sm-3">
                <input type="submit" class="btn btn-primary" value="Save" />
    @*            <a type="submit" class="btn btn-primary" asp-controller="ViewCases" asp-action="ViewCase" asp-route-id="@Model.Value.id">
                    Save
                </a>*@
                <a class="btn btn-outline-ui" asp-controller="ViewCases" asp-action="ViewCase" asp-route-id="@Model.Id">
                    Cancel
                </a>
            </div>
        </div>
    </div>
</form>