@model CaseMgmtPortal.ViewModels.CaseListViewModel
@using CaseMgmtPortal.Models
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

<nav class="breadcrumb-wrapper" aria-label="breadcrumbs">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">
                <span class="fas fa-home mr-1" aria-hidden="true"></span><span class="sr-only">Home</span>
            </a>
        <li class="breadcrumb-item active" aria-current="page">
            <span>View Submitted Cases</span><span class="fas fa-eye ml-1" aria-hidden="true"></span>
        </li>
    </ol>
</nav>
<div class="page-title">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-lg-flex justify-content-lg-between align-items-center">
                <div class="mb-2 mb-lg-0">
                    <h2 class="page-title-text">
                        <span class="icon fas fa-home mr-1" aria-hidden="true"></span>View Submitted Cases
                    </h2>
                    <p class="mb-0">Below lists the child neglect reports you submitted.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Value.Count > 0)
{
    <form method="get" asp-action="ViewCase" asp-controller="ViewCases">
        <div class="container-fluid">
            <div class="row">
                <div class="form-group">
                    <div>
                        <label for="InputCid">Search by Case Number</label>
                        <input type="text" class="form-control" id="InputCid" name="InputCid" placeholder="Value">
                        <small>Case numbers are 10 digits (e.g. 0123456789).</small>
                    </div>

                </div>
            </div>
        </div>

        <p class="label">Filter by Case Status</p>
        <div class="form-check toggle-token">
            <input class="form-check-input" type="checkbox" name="Filter" id="Filter1" value="All">
            <label class="form-check-label" for="Filter1">
                <span class="fas fa-square" aria-hidden="true"></span>
                <span class="fas fa-check-square" aria-hidden="true"></span>
                All
            </label>
        </div>
        <div class="form-check toggle-token">
            <input class="form-check-input" type="checkbox" name="Filter" id="filter2" value="PendingReview">
            <label class="form-check-label" for="filter2">
                <span class="fas fa-square" aria-hidden="true"></span>
                <span class="fas fa-check-square" aria-hidden="true"></span>
                Pending Review
            </label>
        </div>
        <div class="form-check toggle-token">
            <input class="form-check-input" type="checkbox" name="Filter" id="filter3" value="InProgress">
            <label class="form-check-label" for="filter3">
                <span class="fas fa-square" aria-hidden="true"></span>
                <span class="fas fa-check-square" aria-hidden="true"></span>
                In Progress
            </label>
        </div>
        <div class="form-check toggle-token">
            <input class="form-check-input" type="checkbox" name="Filter" id="filter4" value="Assigned">
            <label class="form-check-label" for="filter4">
                <span class="fas fa-square" aria-hidden="true"></span>
                <span class="fas fa-check-square" aria-hidden="true"></span>
                Assigned
            </label>
        </div>
        <div class="form-check toggle-token">
            <input class="form-check-input" type="checkbox" name="Filter" id="filter5" value="Closed">
            <label class="form-check-label" for="filter5">
                <span class="fas fa-square" aria-hidden="true"></span>
                <span class="fas fa-check-square" aria-hidden="true"></span>
                Closed
            </label>
        </div>
        <div class="form-check toggle-token">
            <input class="form-check-input" type="checkbox" name="Filter" id="filter6" value="RequestforClosure">
            <label class="form-check-label" for="filter6">
                <span class="fas fa-square" aria-hidden="true"></span>
                <span class="fas fa-check-square" aria-hidden="true"></span>
                Request for Closure
            </label>
        </div>
        <div class="btn btn-primary col-12 col-sm-1">
            <input type="submit" value="Search" />
        </div>
    </form>
    <hr class="solid" />

    @*    @foreach (var values in Model.Value.AsEnumerable().Reverse())*@
    @foreach (var values in Model.Value)
    {
        <div id="caseInfo" class="p-1">
            <div id="caseBadge">
                @if (values.status == "Request for Closure")
                {
                    <span class="badge badge-danger">@values.status</span>
                }
                else if (values.status == "Pending Review")
                {
                    <span class="badge badge-warning">@values.status</span>
                }
                else if (values.status == "Assigned")
                {
                    <span class="badge badge-secondary">@values.status</span>
                }
                else if (values.status == "In Progress")
                {
                    <span class="badge badge-ui-priority">@values.status</span>
                }
                else if (values.status == "Closed")
                {
                    <span class="badge badge-ui">@values.status</span>
                }
                else
                {
                    <span class="badge badge-accent">Unknown Status</span>
                }
            </div>
            <div id="caseContainer" class="content-container p-2 m-3">
                <div class="row p-3">
                    <div class="col-12 col-sm-10">
                        <label class="fw-bold form-label row">
                            <span aria-hidden="true"></span>Case @values.id
                        </label>
                        @if (values.date != values.updateDate)
                        {
                            <label class="form-label row">
                                <span aria-hidden="true"></span>Updated on @values.date
                            </label>
                        }
                        else
                        {
                            <label class="form-label row">
                                <span aria-hidden="true"></span>Submited on @values.date
                            </label>
                        }
                    </div>
                    <div class="col-12 col-sm-2" align="center">
                        <a class="btn btn-outline-ui" asp-controller="ViewCases" asp-action="ViewCase" asp-route-id="@values.id">
                            View Details
                            <span class="fas fa-arrow-right" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row justify-content-center align-items-md-end">
        <div class="col-md-3">
            <form action="" class="">
                <label class="d-none" aria-hidden="false" for="NumberItemsToShow">Show how many?</label>
                <select onchange="location = this.value" class="custom-select mb-4 mb-lg-0" id="NumberItemsToShow">
                    <option value="/ViewCases/index">Show 10 per page</option>
                    <option value="/ViewCases/index25">Show 25 per page</option>
                    <option value="/ViewCases/index50">Show 50 per page</option>
                    <option value="/ViewCases/indexAll" selected>Show All</option>
                </select>
            </form>
        </div>
        <div class="col-md-3 text-center text-lg-right">
            <p class="mb-2">
                Showing<br class="d-none d-md-block d-lg-none"> <strong>@Model.Value.Count</strong> of <strong>@Model.Value.Count</strong>
                items.
            </p>
        </div>
    </div>
}
else
{
    <div class="content-container mx-40 pl-30 border border-gray rounded">
        <div class="row">
            <h2 class="text-primary"><span class="fas fa-solid fa-wind" aria-hidden="true"></span> It's empty here.</h2>
        </div>
        <div class="row">
            <p>Once you submit a child neglect report, you can view those cases here. </p>
        </div>
    </div>
}
